{% extends "base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'tasks' %}">Tasks</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Delete {{ task.name }}</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header alert-danger">
            <b>DELETE</b>
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete the task: {{ task.name }}?</p>

            <form action="" method="POST">
                {% csrf_token %}
                <input type="submit" action="" value="Yes, delete."/>
            </form>
        </div>
    </div>
{% endblock %}